@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Manage content</h2>
        <p>@Html.ActionLink("Words", "Index", "Words")</p>
        <p>@Html.ActionLink("Translations", "Index", "Translations")</p>
        <p>@Html.ActionLink("Users", "Index", "Users")</p>
    </div>
    <div class="col-md-4">
        <h2>Training</h2>
        <p>@Html.ActionLink("Practice", "Index", "Practice")</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>